<h1>{{bookmarksListCtrl.currentCategoryName}}</h1>
<div ng-class="{active: main.isSelectedBookmark(bookmark.id)}"  ng-repeat="bookmark in main.bookmarks | filter:{category:main.currentCategory.name}">
    <button type="button" class="close" ng-click="main.deleteBookmark(bookmark)">&times;</button>
    <button type="button" class="btn btn-link" ng-click="main.setEditedBookmark(bookmark);main.startEditing();" ><span class="glyphicon glyphicon-pencil"></span>
    </button>
    <a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>
</div>
<hr/>
<!-- CREATING -->
<div ng-if="main.shouldShowCreating()">
    <button type="button" class="btn btn-link" ng-click="main.startCreating()">
        <span class="glyphicon glyphicon-plus"></span>
        Create Bookmark
    </button>
    <form class="create-form" ng-show="main.isCreating" role="form" ng-submit="main.createBookmark(main.newBookmark)" novalidate>
        <div class="form-group">
            <label for="main.newBookmarkTitle">Bookmark Title</label>
            <input type="text" class="form-control" id="newBookmarkTitle" ng-model="main.newBookmark.title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="newBookmarkURL">Bookmark URL</label>
            <input type="text" class="form-control" id="newBookmarkURL" ng-model="main.newBookmark.url" placeholder="Enter URL">
        </div>
        <button type="submit" class="btn btn-info btn-lg">Create</button>
        <button type="button" class="btn btn-default btn-lg pull-right" ng-click="main.cancelCreating()">Cancel</button>
    </form>
</div>
<!-- EDITING -->
<div ng-show="main.shouldShowEditing()">
    <h4>Editing {{editedBookmark.title}}</h4>

    <form class="edit-form" role="form" ng-submit="main.updateBookmark(main.editedBookmark)" novalidate>
        <div class="form-group">
            <label>Bookmark Title</label>
            <input type="text" class="form-control" ng-model="main.editedBookmark.title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label>Bookmark URL</label>
            <input type="text" class="form-control" ng-model="main.editedBookmark.url" placeholder="Enter URL">
        </div>
        <button type="submit" class="btn btn-info btn-lg">Save</button>
        <button type="button" class="btn btn-default btn-lg pull-right" ng-click="main.cancelEditing()">Cancel</button>
    </form>
</div>