<!doctype html>
<html ng-app="Eggly">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Eggly</title>

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/eggly.css">
    <link rel="stylesheet" href="assets/css/animations.css">
</head>
<body ng-controller="MainCtrl as main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <a ng-click="main.setCurrentCategory(null)"><img class="logo" src="assets/img/eggly-logo.png"></a>
                <ul class="nav nav-sidebar">
                    <li ng-repeat="category in main.categories" ng-class="{'active':main.isCurrentCategory(category)}">
                        <a ng-click="main.setCurrentCategory(category)">
                            {{category.name}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div ng-class="{active: main.isSelectedBookmark(bookmark.id)}"  ng-repeat="bookmark in main.bookmarks | filter:{category:main.currentCategory.name}">
                    <button type="button" class="close" ng-click="main.deleteBookmark(bookmark)">&times;</button>
                    <button type="button" class="btn btn-link" ng-click="main.setEditedBookmark(bookmark);main.startEditing();" ><span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>
                </div>
                <hr/>
                <!-- CREATING -->
                <div ng-if="main.shouldShowCreating()">
                    <button type="button" class="btn btn-link" ng-click="main.startCreating()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Create Bookmark
                    </button>
                    <form class="create-form" ng-show="main.isCreating" role="form" ng-submit="main.createBookmark(main.newBookmark)" novalidate>
                        <div class="form-group">
                            <label for="newBookmarkTitle">Bookmark Title</label>
                            <input type="text" class="form-control" id="newBookmarkTitle" ng-model="main.newBookmark.title" placeholder="Enter title">
                        </div>
                        <div class="form-group">
                            <label for="newBookmarkURL">Bookmark URL</label>
                            <input type="text" class="form-control" id="newBookmarkURL" ng-model="main.newBookmark.url" placeholder="Enter URL">
                        </div>
                        <button type="submit" class="btn btn-info btn-lg">Create</button>
                        <button type="button" class="btn btn-default btn-lg pull-right" ng-click="main.cancelCreating()">Cancel</button>
                    </form>
                </div>
                <!-- EDITING -->
                <div ng-show="main.shouldShowEditing()">
                    <h4>Editing {{main.editedBookmark.title}}</h4>

                    <form class="edit-form" role="form" ng-submit="main.updateBookmark(main.editedBookmark)" novalidate>
                        <div class="form-group">
                            <label>Bookmark Title</label>
                            <input type="text" class="form-control" ng-model="main.editedBookmark.title" placeholder="Enter title">
                        </div>
                        <div class="form-group">
                            <label>Bookmark URL</label>
                            <input type="text" class="form-control" ng-model="main.editedBookmark.url" placeholder="Enter URL">
                        </div>
                        <button type="submit" class="btn btn-info btn-lg">Save</button>
                        <button type="button" class="btn btn-default btn-lg pull-right" ng-click="main.cancelEditing()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>


    <script src="app/eggly-app.js"></script>
    <script src="app/categories/categories.js"></script>
    <script src="app/categories/bookmarks/bookmarks.js"></script>
    <script src="app/categories/bookmarks/create/bookmark-create.js"></script>
    <script src="app/categories/bookmarks/edit/bookmark-edit.js"></script>
    <script src="app/common/models/bookmarks-model.js"></script>
    <script src="app/common/models/categories-model.js"></script>
</body>
</html>
